<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>View Pet</title>

        <div th:replace="~{headerfragment.html :: header}"></div>

           </head>

    <body>

        <header>
            <h1 th:text="${name}" class="logo"></h1>
        </header>
        <main>
            <div class="container">
                <div class="imageContainer">
                    <img th:src="@{${imagePath}}" th:alt="${name}" />
                </div>
                <h3 class="name" th:text="${name}"></h3>
                <h4 class="name" th:text="${type}"></h4>
                <p class="happiness" th:text="${description}"></p>
            </div>
            <div class="container">
                <h3 class="name">STATS</h3>
                <div class="statbar">
                    <p class="stat">HUNGER : </p>
                    <p class="stat" th:text="${hunger}"></p>
                    <p class="stat"> / </p>
                    <p class="stat" th:text="${maxhunger}"></p>
                </div>
                <div class="statbar">
                    <p class="stat">HAPPINESS : </p>
                    <p class="stat" th:text="${happiness}"></p>
                    <p class="stat"> / </p>
                    <p class="stat" th:text="${maxhappiness}"></p>
                </div>
                <div class="statbar">
                    <p class="stat">DIRTINESS : </p>
                    <p class="stat" th:text="${dirtiness}"></p>
                    <p class="stat"> / </p>
                    <p class="stat" th:text="${maxdirtiness}"></p>
                </div>
                <div class="statbar">
                    <p class="stat">TIRENESS : </p>
                    <p class="stat" th:text="${tireness}"></p>
                    <p class="stat"> / </p>
                    <p class="stat" th:text="${maxtireness}"></p>
                </div>
            </div>
        </main>
        <footer>
            <div th:each="item : ${itemPool}">
            <form action="'/pet/use?petID=' + ${petID} + '&itemID=' + ${item.getID()}'" method="get">
                <button type="submit" style="border: none; background: none; padding: 0;">
                    <div class="interactiveContainer">
                        <div class="smallImageContainer">
                            <img class="small" th:src="@{${item.getImagePath()}}" th:alt="${item.getName()}" />
                        </div>
                        <h3 class="name" th:text="${item.getName()}"></h3>
                    </div>
                </button>
            </form>
            </div>
        </footer>
    </body>
</html>